:root{

    --dark-blue:hsl(233, 47%, 7%);
    --Dark-desaturated-blue :hsl(244, 38%, 16%);
    --Soft-violet:hsl(277, 64%, 61%);
    --White:hsl(0, 0%, 100%);
    --paragraph-white:hsla(0, 0%, 100%, 0.75);
    --headings-white:hsla(0, 0%, 100%, 0.6);
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
    
    /*font-family: 'Lexend Deca', sans-serif;*/
}


body{
    font-size: 1.5rem;
    color: var(--White);
    background-color: var(--dark-blue);
    
}

main{
    max-width:100vw;
    width: 70%;
    margin: 5rem auto;
    /*border: 5px solid gold;*/
}
mark{
    background-color: transparent;
    color:var(--Soft-violet);
    font-weight: 700;
}


p{
    color:var(--paragraph-white);
    letter-spacing: 0.1em;
    line-height: 2.1rem;
    font-size: 1.1rem;
    padding: 5px 5px 0px 5px;
}

h1{
    color:var(--White);
    font-size: 2.5rem;

}

h1, p{
    font-family: 'Inter', sans-serif;
}
span{
    display:block;
    text-transform:uppercase;
    color: var(--headings-white);
    letter-spacing: 0.1em;
    padding-top: 0.5rem;
    font-size: 0.9rem;
}
.box{
    color: var(--White);
    margin:1rem;
    padding:1rem;
    text-transform: uppercase;
    font-size: 1.9rem;
    
}

.box-3{
    padding-bottom: 3.5rem;
}
.header-image{
    background-image: url('../images/image-header-mobile.jpg');
    background-color: var(--Soft-violet);
    background-blend-mode: overlay;
    height:200px;
    background-size: cover;
    border-radius: 1rem 1rem 0 0;
    /*border: 5px solid dodgerblue;*/
    
    
}

.stats-content{
    font-family: 'Lexend Deca', sans-serif;
}

.main-container{
    background-color: var(--Dark-desaturated-blue);
    border-radius:1rem;
}

.main-content, .stats-content{
  text-align: center;
  
}

.main-content{
    padding:1.5rem;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}




/*For Tablet Screens*/
@media screen and (min-width:768px){

main{
    width: 50%;
}
}

/*For Desktop Screens*/
@media screen and (min-width:1024px){
main{
    width: 60%;
}

}
